.hud-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: start;
  padding: 12px 24px 0 24px;
  color: #fff;
  font-family: monospace, sans-serif;
  font-size: 20px;
  z-index: 99;
  pointer-events: none;
  user-select: none;
  text-shadow: 0 1px 5px #222;
}

.hud-panel {
  background: rgba(16, 20, 31, 0.7);
  padding: 8px 20px;
  border-radius: 8px;
  display: inline-block;
}

.hud-panel:last-child {
  background: rgba(47, 25, 56, 0.7);
  padding: 8px 18px;
  border-radius: 8px;
  min-width: 100px;
  text-align: right;
}
